In [28]:
import pandas as pd

file_name = 'statistic_variable.csv'
variable = pd.read_csv(file_name, engine='python', names=["col", "explain"])
column = variable["col"]
column[len(column)-1] = "score"

file_name = 'statistic_data.csv'
data = pd.read_csv(file_name, encoding='utf-8', engine='python', names = column)

In [30]:
print(data.head())
print(data.columns)

    No  Company  sex  age  Area  marriage  ...  Q5  Q6  Loyalty  AGE1  AREA1  score
0  101        1    2    2     1         1  ...   4   4        4     2      1   3.67
1  102        1    1    3     1         2  ...   4   5        3     3      1   3.50
2  103        1    2    1     1         1  ...   4   4        4     1      1   4.00
3  104        1    2    3     1         2  ...   2   3        2     3      1   2.17
4  105        1    1    2     1         1  ...   5   4        4     2      1   4.17

[5 rows x 18 columns]
Index(['No', 'Company', 'sex', 'age', 'Area', 'marriage', 'Use_time', 'Update',
       'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Loyalty', 'AGE1', 'AREA1',
       'score'],
      dtype='object')

In [25]:
from scipy import stats
import numpy as np
rng = np.random.default_rng()

In [35]:
class_sex = data["sex"].unique()
class_score = []
for i in class_sex:
  filter = (data["sex"] == i)
  class_score.append(data[filter]['score'].values)
print(class_score)

[array([3.67, 4.  , 2.17, 3.33, 3.17, 3.67, 4.17, 3.83, 3.83, 3.67, 3.67,
       3.5 , 3.33, 3.5 , 3.33, 4.17, 3.83, 3.83, 4.  , 3.5 , 4.  , 3.5 ,
       4.33, 3.17, 3.67, 3.5 , 4.  , 3.5 , 3.83, 3.5 , 3.67, 3.67, 1.67,
       3.67, 3.83, 4.17, 3.83, 3.33, 3.5 , 3.5 , 4.17, 3.5 , 4.  , 4.33,
       4.  , 3.5 , 4.  , 3.33, 3.83, 3.5 , 3.67, 3.67, 3.33, 3.17, 4.5 ,
       4.17, 3.67, 3.67, 3.  , 3.33, 3.83, 3.5 , 3.67, 5.  , 4.33, 4.33,
       2.5 , 4.17, 3.33, 3.67, 3.5 , 3.67, 3.83, 3.83, 3.83, 3.33, 3.17,
       2.83, 2.67, 3.67, 3.67, 3.67, 3.33, 3.  , 3.67, 3.33, 3.5 , 3.  ,
       3.  , 3.17, 3.67, 3.67, 3.17, 3.67, 3.17, 3.67, 3.83, 3.5 , 4.17,
       3.5 , 4.  , 4.33, 4.  , 3.5 , 4.  , 3.33, 3.67, 3.33, 3.  , 3.67,
       3.33, 3.  , 3.67, 3.33, 3.5 , 3.  , 3.  , 3.17, 3.67]), array([3.5 , 4.17, 3.33, 3.67, 3.67, 4.33, 4.67, 3.17, 3.5 , 4.17, 3.33,
       3.67, 3.83, 4.17, 3.33, 3.5 , 3.17, 4.17, 3.5 , 4.  , 3.5 , 4.17,
       4.  , 3.67, 4.  , 4.17, 3.83, 3.83, 4.  , 4.33, 4.  , 3.33, 4.17,
       3.83, 3.67, 3.67, 3.67, 3.17, 3.5 , 3.67, 4.  , 3.5 , 3.67, 3.83,
       3.67, 3.17, 3.67, 4.  , 3.67, 3.  , 3.17, 4.83, 3.83, 3.83, 4.33,
       3.5 , 3.67, 3.83, 4.17, 3.67, 4.5 , 3.83, 3.5 , 3.67, 3.67, 3.5 ,
       3.5 , 2.83, 3.33, 3.  , 3.17, 3.17, 3.33, 3.5 , 3.67, 3.33, 3.33,
       3.5 , 3.5 , 3.5 , 3.33, 3.5 , 3.  , 3.5 , 3.83, 4.  , 3.33, 4.17,
       3.83, 3.67, 3.67, 3.67, 3.17, 3.5 , 3.67, 4.  , 3.5 , 3.67, 3.67,
       3.33, 3.33, 3.5 , 3.5 ])]

In [36]:
stats.ttest_ind(class_score[0], class_score[1])

Ttest_indResult(statistic=-1.4276502548839034, pvalue=0.15481046284639347)

In [38]:
class_loyalty = data['Loyalty'].unique()
class_score = []
for i in class_loyalty:
  filter = (data["Loyalty"] == i)
  class_score.append(data[filter]['score'].values)
print(class_score)

[array([3.67, 4.  , 4.17, 3.33, 3.67, 4.17, 3.83, 3.83, 3.67, 3.67, 3.17,
       3.5 , 3.5 , 4.17, 4.17, 3.67, 3.83, 3.83, 3.33, 3.5 , 3.17, 4.  ,
       3.5 , 4.  , 3.5 , 4.33, 3.67, 3.67, 4.  , 4.  , 4.17, 3.83, 3.83,
       4.  , 3.67, 4.33, 3.33, 3.5 , 4.17, 3.5 , 3.83, 3.67, 3.67, 3.67,
       4.  , 3.5 , 3.67, 3.33, 4.  , 3.5 , 3.83, 3.83, 3.67, 3.67, 3.17,
       3.67, 3.17, 3.67, 4.  , 3.  , 3.67, 3.  , 3.83, 3.5 , 3.67, 3.83,
       4.33, 4.33, 3.5 , 3.67, 3.83, 4.17, 3.67, 3.67, 3.83, 3.5 , 3.67,
       3.5 , 3.83, 3.5 , 3.5 , 2.83, 3.33, 3.17, 2.83, 3.67, 3.67, 3.5 ,
       3.67, 3.67, 3.67, 3.33, 3.5 , 3.  , 3.33, 3.5 , 3.5 , 3.5 , 3.67,
       3.33, 3.5 , 3.67, 3.83, 3.83, 3.5 , 4.17, 3.5 , 3.83, 3.67, 3.67,
       3.67, 4.  , 3.5 , 3.67, 3.33, 3.5 , 3.67, 3.67, 3.67, 3.67, 3.33,
       3.5 , 3.  , 3.33, 3.5 ]), array([3.5 , 3.17, 3.67, 4.33, 3.33, 3.33, 3.33, 3.5 , 4.  , 3.5 , 3.5 ,
       3.5 , 4.  , 3.33, 3.17, 3.67, 3.5 , 3.33, 4.17, 3.17, 2.5 , 4.17,
       3.67, 3.83, 3.33, 3.  , 3.17, 3.17, 2.67, 3.33, 3.33, 3.  , 3.33,
       3.  , 3.17, 3.67, 3.67, 3.17, 3.17, 3.  , 3.5 , 3.33, 4.  , 3.5 ,
       3.17, 4.  , 3.33, 3.  , 3.33, 3.  , 3.33, 3.  , 3.17, 3.67]), array([2.17, 3.5 , 3.83, 1.67, 3.5 , 3.33, 3.67, 3.5 ]), array([3.33, 3.67, 4.67, 3.5 , 3.83, 4.17, 4.17, 4.17, 4.  , 3.17, 3.67,
       3.67, 3.83, 4.17, 3.83, 3.5 , 4.17, 4.  , 4.33, 4.  , 4.5 , 3.67,
       3.67, 3.33, 4.83, 3.83, 5.  , 4.33, 4.5 , 3.67, 3.83, 4.  , 4.17,
       4.  , 4.33])]

In [39]:
from scipy.stats import f_oneway
f_oneway(class_score[0], class_score[1], class_score[2], class_score[3])

F_onewayResult(statistic=22.762557230723463, pvalue=7.376799174269514e-13)

In [42]:
class_update = data['Update'].unique()
class_score = []
for i in class_update:
  filter = (data["Update"] == i)
  class_score.append(data[filter]['score'].values)
print(class_score)

[array([3.67, 4.  , 4.17, 3.17, 3.67, 4.33, 3.67, 3.67, 3.5 , 3.33, 3.33,
       4.17, 3.83, 4.17, 4.  , 3.5 , 3.5 , 4.17, 3.17, 3.67, 3.67, 4.  ,
       3.5 , 3.5 , 3.67, 4.  , 3.67, 3.33, 4.17, 3.5 , 4.  , 4.  , 3.67,
       4.  , 4.  , 3.5 , 3.67, 3.33, 4.5 , 4.17, 3.67, 3.33, 3.83, 4.83,
       3.67, 3.83, 5.  , 3.83, 4.33, 4.33, 3.5 , 3.83, 4.17, 4.17, 3.67,
       3.33, 3.5 , 3.67, 3.5 , 3.67, 3.83, 3.83, 3.5 , 3.5 , 3.33, 3.17,
       2.83, 2.67, 3.33, 3.67, 3.67, 3.67, 3.5 , 3.17, 3.67, 3.5 , 3.67,
       3.33, 3.5 , 3.  , 3.83, 3.5 , 3.33, 4.17, 3.5 , 4.  , 4.  , 3.67,
       4.  , 4.  , 3.5 , 3.67, 3.5 , 3.17, 3.67, 3.5 ]), array([3.5 , 2.17, 3.33, 3.33, 3.67, 3.67, 4.17, 3.83, 4.67, 3.83, 3.17,
       3.5 , 3.33, 3.5 , 4.17, 3.67, 3.83, 3.83, 4.17, 3.33, 3.5 , 3.17,
       4.  , 3.5 , 3.5 , 4.  , 4.  , 4.33, 3.5 , 4.  , 3.83, 4.17, 3.83,
       3.67, 3.83, 1.67, 3.83, 4.17, 4.33, 3.83, 3.33, 3.5 , 3.5 , 4.  ,
       4.17, 3.83, 4.33, 3.67, 3.5 , 3.67, 3.17, 3.5 , 3.67, 3.33, 3.67,
       3.83, 3.83, 3.5 , 3.67, 3.17, 3.67, 3.17, 3.67, 4.  , 3.  , 3.67,
       3.17, 3.67, 3.  , 3.5 , 4.33, 2.5 , 3.67, 3.67, 4.5 , 3.83, 3.67,
       3.83, 2.83, 3.33, 3.  , 3.17, 3.17, 3.5 , 3.67, 3.33, 3.67, 3.  ,
       3.33, 3.33, 3.  , 3.  , 3.33, 3.5 , 3.5 , 3.17, 3.67, 3.17, 3.67,
       3.5 , 3.83, 4.  , 4.17, 3.83, 4.33, 3.67, 3.5 , 3.67, 3.17, 3.5 ,
       3.67, 3.33, 3.67, 3.33, 3.67, 3.  , 3.67, 3.33, 3.67, 3.  , 3.33,
       3.33, 3.  , 3.  , 3.33, 3.5 ])]

In [43]:
stats.ttest_ind(class_score[0], class_score[1])

Ttest_indResult(statistic=2.50574187106636, pvalue=0.012943663454484522)